<div class="row">
  <div class="col">
    <%= f.label '開催日時' %>
  </div>
  <div class="col">
    <div class="text-right">
      <%= link_to_add_association '開催日時を追加', f, :hosted_dates,
        class: 'btn btn-outline-secondary',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }
      %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-list">
      <thead>
        <tr>
          <td>開始</td>
          <td>終了</td>
          <td></td>
        </tr>
      </thead>
      <tbody id='detail-association-insertion-point'>
        <div>
          <%= f.fields_for :hosted_dates do |date| %>
            <%= render 'hosted_date_fields', f: date %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
