<tr>
  <th>
    <%= icon('far', 'calendar-days', class: 'detail-icon')%>
    <%= l(date.started_at, format: :long) %> - <%= l(date.ended_at, format: :short) %>
  </th>
  <!-- TODO: 後で実装--------- -->
  <td>
    ◯<span class="rest-capacity">残り1人</span>
  </td>
  <td>
    <%= link_to '予約する', '#', class: "btn btn-default" %>
  </td>
  <!-- ---------------ここまで -->
</tr>
