<% if reservation.event.owner.kept? %> 
  <%= link_to(user_reservation_path(id: reservation), class: 'list-group-item list-group-item-action') do %>
    <%= render 'reserved_event_detail', reservation: reservation %> 
  <% end %>
<% else %> 
  <div class="list-group-item list-group-item-action">
    <p class="text-danger">退会したユーザーのココロミです。</p>
    <%= render 'reserved_event_detail', reservation: reservation %> 
  </div>
<% end %> 
