.navbar {
  margin-bottom: 0;
}

body .container {
  width: 100%;
  .wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 10px;
    h1 {
      font-size: 3rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 25px;
    }
    h2 {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 0;
    }
    .section-header {
      text-align: center;
    }
  }
}

.eye-catching {
  .event-header {
    display: flex;
    justify-content: space-between;
  }
  .image-box {
    text-align: center;
    margin-bottom: 30px;
    .top-image {
      max-width: 680px;
      max-height: 420px;
    }
  }
}

.detail-section, .dates-section {
  background-color: #f5f5f5;
  table  {
    margin: 0 auto;
    th, td{
      padding-right: 20px;
      border-bottom: dashed 1px black;
      padding: 15px 15px 5px;
    }
    th {
      font-weight: 500;
      .detail-icon {
        padding-top: 4px;
        width: 15px;
        text-align: right;
        margin-right: 10px;
      }
    }
  }
}

.detail-section {
  .discription {
    margin: 0 auto;
    margin-bottom: 40px;
    width: fit-content;
    .detail-text {
      line-height: 1.8;
      table  {
        td {
          span.unit {
            margin-left: 5px;
            font-size: 1.3rem;
            color: rgb(93, 91, 91);
          }
        }
      }
    }
  }
}

.dates-section {
  table  {
    td {
      span.rest-capacity {
        margin-left: 5px;
        font-size: 0.9rem;
        color: rgb(109, 105, 105);
      }
    }
  }
}

.owner-section {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  .detail-link {
    display: block;
  }
  .owner-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}
